@font-face {
  src: url("https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap");
  font-family: 'Raleway', sans-serif;
}

html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  height: 100%;
  width: 100%;
}

html ::-webkit-scrollbar {
  display: none;
}

html body {
  height: 300vh;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  overflow: hidden;
  scroll-behavior: smooth;
}

html body .full-screen-loading-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 3;
  background: black;
}

html body .full-screen-loading-background .loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html body .full-screen-loading-background .loading-container .loading-ring {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 0 #262626;
          box-shadow: 0 4px 0 #262626;
  background: transparent;
  -webkit-animation: animate 1s infinite linear;
          animation: animate 1s infinite linear;
}

html body .full-screen-loading-background .loading-container .text {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  color: #262626;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 300px;
  font-size: 2em;
  background: transparent;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html body .hide-loading-page {
  visibility: collapse;
}

html body nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  height: 80vw;
  width: 1vw;
  top: 10vh;
  position: fixed;
  right: 2vw;
  z-index: 2;
}

html body nav .nav--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body nav .nav--container .top-outer {
  height: 12vh;
  width: 20%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 2vh;
}

html body nav .nav--container .top-inner {
  height: 15vh;
  width: 30%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 1.5vh;
}

html body nav .nav--container .center {
  height: 20vh;
  background: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.2);
  font-size: 4vh;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
}

html body nav .nav--container .bottom-inner {
  height: 15vh;
  width: 30%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-top: 1.5vh;
}

html body nav .nav--container .bottom-outer {
  height: 12vh;
  width: 20%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-top: 2vh;
}

html body nav .current {
  background: white !important;
  color: white !important;
}

html body .top1 {
  height: 10vh;
  width: 100%;
  background: #3a1d2b;
  scroll-snap-align: start;
}

html body .top2 {
  height: 20vh;
  width: 100%;
  background: #2c1621;
  scroll-snap-align: start;
}

html body .top3 {
  height: 30vh;
  width: 100%;
  background: #1b0912;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 7vw;
}

html body .top4 {
  height: 40vh;
  width: 100%;
  background: #11060c;
  scroll-snap-align: start;
}

html body #container {
  height: 100vh;
  width: 100vw;
}

html body #container canvas {
  scroll-snap-align: end;
}

html body .bottom4 {
  height: 40vh;
  width: 100%;
  background: #387f69;
  scroll-snap-align: start;
}

html body .bottom3 {
  height: 30vh;
  width: 100%;
  background: #4a8d78;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 7vw;
}

html body .bottom2 {
  height: 20vh;
  width: 100%;
  background: #6cb19b;
  scroll-snap-align: start;
}

html body .bottom1 {
  height: 10vh;
  width: 100%;
  background: #b5dfd1;
  scroll-snap-align: start;
}

html .start-scrolling {
  overflow: visible;
}
/*# sourceMappingURL=main.css.map */